.slider-carousel {
  width: 80%;
  height: 500px;
  margin: 40px auto;
}
.slider-img-container {
  height: 500px;
  margin: 0 auto;
}
.slider-carousel img {
  margin: 0 auto;
  height: 100%;
  width: 100%;
}
