.categories-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-right: 50px;
}
.categories-container ul {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 14px;
}
