.item-container {
  height: 350px;
  width: 200px;
  border: solid 1px rgb(189, 186, 186);
  box-shadow: 2px 2px 10px rgb(214, 206, 206);
  margin: 50px;
}
.item-container img {
  width: 200px;
}
.article-name-align {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.category-item {
  color: rgb(141, 137, 137);
}
